.reg-header{
    text-align:center;
}
label{
    width:100px;
    display:inline-block
}
div{
    padding:10px;
}
[type="text"],[type="email"],[type="date"],[type="number"]{
    width: 25%;
    padding: 5px;
}
[type="text area"]{
    width: 25%;
    padding: 10px;
}
.reg-form {
  border: 5px solid #f12d2d; 
  padding: 10px; 
}
lable{
    width: 100px;
    display: inline-block;
}
